* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 2% 10%;
  min-height: 100vh;
}

li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5%;
}

.nav {
  width: 100%;
  gap: 20%;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
}

.navbar-nav {
  gap: 20%;
}

#home {
  padding: 1rem;
  border-radius: 5px;
  background-color: #f5f5f5;
  max-height: 800px;
  min-height: 800px;
  overflow-y: scroll;
}

.row {
  gap: 10%;
}

.col {
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
}

.col img {
  width: 10rem;
  height: 8rem;
}

.img-card {
  width: 10rem;
  height: 8rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.description {
  padding-top: 2rem;
  display: flex;
  gap: 50px;
}

.description .pokemon-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.poke-action {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer {
  /* position: fixed;
  bottom: 0;
  left: 0; */
  width: 100%;
  height: 10%;
}


.modal-wrapper {
  width: 90%;
  height: 80%;
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.modal {
  padding-top: 20px;
  left: 25%;
  background: #fbb;
  width: 50%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.modal * {
  width: 80%;
  text-align: center;
}

.modal-information {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-information * {
  width: 40%;
}

.notDisplay {
  display: none;
}
